//Colours variables
$primary-color:#000000;
$secondary-color:#ffffff;
$third-color: #A4A4A4;
$nav-footer-color:#000000;
$anchor-hover-color:#89AF4A;
$background-nav-color:#3a3a3a;
$border-nav-color:#d3d3d3;
$page-background-color:#ffffff;
$nav-header-separator-color:#4c4c4c;
$search-section-border-color:#9a9a9a;
$background-copy-color:#525252;
$error-message-color:#FF0000;
$off-wht: rgba(white,.4);

//buttons colours
$purple: #9A68C7;
$blue: #3BA9E4;
$green: #75B343;
$orange: #FF6A42;

//hover anchor transition speed variable
$hover-anchor-transition_speed: .4s;

//media queries variables
$mobile-width-min: 480px;
$mobile-width-max: 980px;
