body{
  font-family: Helvetica, Verdana, sans-serif, Arial;
  font-size: 14px;
  color:$primary-color;
  line-height: 1.5em;
  background: $page-background-color;
} 

#wrapper{
	max-width: 1280px;
	margin: 0 auto;  
  width: 95%;
}

@include deskop_tablets{

  #wrapper{
    width: 90%;
  }

}

@include phone{

  #wrapper{
    width: 100%;
    padding: 10px;
  }
 
}

