body{
  color:$primary-color;
  background: $bg-color--light-grey;
  font-family: $base-font-family; 
} 

#wrapper{
	max-width: 980px;
	margin: 0 auto;  
  width: 95%;
  background: $bg-color--white;
}
